/* ini css */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-icon{
    height: 48px;
    width: 48px;
    background-image: url(../asset/4.png);
    background-size: cover;
    border-radius: 50%;
}

.nav-container {
    display: flex;
}

.nav-item {
    border: 1px solid;
    color: yellowgreen;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
}

.banner-img {
    height: 300px;
    background-size: cover;
    background-position: center;
}

.profile-container {
    display: flex;
    justify-content: space-around;
}

.profile-item {
    height: 100px;
    text-align: -webkit-center;
}

.profile-img {
    height: 50px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 50px;
}

.footer-design {
    text-align: center;
}

.img-1 {
    background-image: url(../asset/1.jpg);
}

.img-2 {
    background-image: url(../asset/2.png);
}

.img-3 {
    background-image: url(../asset/3.png);
}

@media only screen and (max-width: 480px) {
    nav {
        flex-direction: column;
    }
    
}